@font-face {
  font-family: gill sans i;
  src: url(../font/GillSans\ Italic.ttf);
}

footer {
  .footer {
    width: 100%;
    height: 90px;
    // background-color: pink;

    // flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 0 40px;
    justify-content: space-between;

    .copyright {
      //   background-color: green;
      font-size: 18px;
      letter-spacing: 1px;
      font-family: gill sans i;
    }

    .links {
      width: 630px;
      //   background-color: palegoldenrod;
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        font-size: 18px;
        text-decoration: none;
        color: black;
        font-family: gill sans i;
        letter-spacing: 1px;
      }
    }

    .socials {
      width: 78px;
      height: 20px;
      // background-color: chartreuse;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .f {
        width: 20px;
      }
    }
  }
}
