@font-face {
  font-family: caveat-bold;
  src: url(../font/Caveat-Bold.ttf);
}

.home {
  /* height: calc(100vh - 50px); */
  height: 100%;
  width: 100%;
  flex: 1 1 auto;

  //   background-color: #97bdff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.circle-wrapper {
  width: 450px;
  height: 450px;
  /* background-color: gray; */
  position: relative;
  // margin-top: -180px;
  padding-bottom: 20px;
}

.big-circle {
  position: absolute;
  width: 387px;
  height: 387px;
  border-radius: 50%;
  background-color: #ffd972;
  bottom: 0;
  box-shadow: 0px 8px 8px rgba(74, 73, 73, 0.3);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 30px;

  .big-words {
    // background-color: green;
    height: 150px;

    .home-title {
      h2 {
        font-family: caveat-bold;
        font-size: 24px;
        // background-color: aqua;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 30px;
        letter-spacing: 2px;
      }
    }
    .home-desc {
      p {
        height: 92px;
        width: 165px;
        text-align: center;
        font-size: 14.5px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        letter-spacing: 1px;
        line-height: 18px;

        // background-color: pink;
      }
    }
  }
}

.small-circle {
  position: absolute;
  right: 0;
  width: 168px;
  height: 168px;
  border-radius: 50%;
  background-color: lightgray;
  box-shadow: 0px 8px 8px rgba(74, 73, 73, 0.3);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-align: center;
    font-size: 10px;
    width: 105px;
    letter-spacing: 1px;
    line-height: 13px;
  }
}
